<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Hello World</title>
    <style>
      .hidden {
        display: none;
      }
      .selected {
        background: red;
      }
    </style>
  </head>
  <body>
    <div class="combobox">
      <input type="text" autocomplete="off" id="character" />
      <ul class="combobox__suggestions" id="characterList">
        <li data-value=""></li>
      </ul>
      <input type="hidden" name="character" />
    </div>

    <script src="/js/main.js" defer></script>
  </body>
</html>
