<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>原神ステータス計算機</title>
  </head>

  <body>
    <%- include("components/header") %>

    <main class="calculator">
      <section class="panel build">
        <div class="panel__header">
          <h2 class="panel__title">ビルド</h2>
        </div>
        <div class="panel__body"></div>
      </section>
      <section class="panel status">
        <div class="panel__header">
          <h2 class="panel__title">ステータス</h2>
        </div>
        <div class="panel__body"></div>
      </section>
    </main>

    <%- include("components/footer") %>

    <script src="js/main.js" defer></script>
  </body>
</html>
