@font-face {
  font-family: "NotoSansJP";
  src: url("../fonts/NotoSansJP.ttf") format("trueType");
}

:root {
  --color-bg: #18191a;
  --color-bg-secondary: #212529;
  --color-bg-hover: #2c3035;

  --color-text: #e4e6eb;
  --color-text-secondary: #b0b3b8;
  --color-text-muted: #8a8d91;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/*  */

html,
body {
  height: 100%;
  font-size: 16px;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  background: var(--color-bg);
  color: var(--color-text);
  font-family: "NotoSansJP", sans-serif;
}

header {
  display: flex;
  height: 60px;
  background: var(--color-bg-secondary);
}

h1 {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 0 0 15px;
  padding: 0 15px;
  font-size: 1rem;
  line-height: 1;
}

header nav {
  height: 100%;
}

header nav ul {
  list-style: none;
  display: flex;
  height: 100%;
}

header nav li {
  height: 100%;
}

header nav a {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 15px;
  transition: background 0.15s ease;
}

header nav a:hover {
  background: var(--color-bg-hover);
}

main {
  flex: 1;
  padding: 30px;
}

footer {
  flex: 0 0 auto;
  margin: 8px 0;
  font-size: 0.8rem;
  color: var(--color-text-muted);
  text-align: center;
}
